<!doctype html>
<html>
<head>
    
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/db212db5f7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href={%static "style.css"%}>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  
  <style>
    .NEQS,.PEQS{
    display: none;
    }
</style>
  
</head>
<body>
    
<section id="header"  class="h-20 w-full bg-gray-900 flex flex-wrap items-center justify-between p-4 fixed top-0">
    <a href="{% url "home" %}"><img class="h-14 ml-10" src={% static '/assets/logo-light.png'%} alt="image"></a>
    <div id="profile" class="flex space-x-10 mr-10">
        <span class="text-gray-100 text-xl">User: Testing</span>
        <div id="profile" class="flex space-x-10 mr-10">
            <span class="text-gray-200 text-xl flex gap-2">User : <p class="text-green-400">{{user.username}}</p></span>
            <a href="{% url 'logout'  %}" class="w-24 mt-1  text-gray-200"><i class="fa-solid fa-power-off pr-2 text-red-400"></i>Logout</a>
        </div>
    </div>
    
</section>


<section class="main w-full flex flex-row justify-end ">
    
        <nav class="side-nav list-none w-72 bg-gray-900 text-gray-100 h-full flex flex-col items-center fixed  top-22 left-0 overflow-x-hidden mt-20" >
            <hr class="border border-gray-100 w-full">
            <h1 class="text-2xl pb-10 pt-4 text-blue-500 text-center">SITE NAVIGATION</h1>
                <ul class="w-48 ">
                    

                    
                        <button class="sideNavFormBtn mb-2"><i class="fa-regular fa-pen-to-square pr-4"></i>Forms.<i class="fa-solid fa-chevron-right pl-20"></i></button>
                        <div class="formMainDiv hidden">
                            <hr class=" border-blue-200">
                                <button class="DWaterBtn ml-2 pb-2"><i class="fa-solid fa-ellipsis-vertical mr-2"></i>Drinking Water</button>
                                <div class="DWaterDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li ><a class="addDrinkFormBtn" href="/drinkingWaterForm"></i>Add Drinking Water</a></li>
                                    <li ><a class="ListDrinkBtn" href="/drinkingWaterList"></i>List Drinking Water</a></li>
                                
                                </div>  
                            
                                <hr class=" border-blue-200">
                                <ul class="">
                                    <button class="gasEmBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Gaseous Emission</button>
                                    <div class="gasEmDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="addGaseousFormBtn" href="/gaseousEmission">Add Gaseous Emis</a></li>
                                    <li><a class="addGaseousListBtn" href="/gaseousEmissionList">List Gaseous Emis</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="ambientBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Ambienty Air Quality</button>
                                    <div class="ambDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="ambientAirFormBtn" href="/ambientAir">Add Ambienty Air Qua..</a></li>
                                    <li><a class="ambientAirList" href="/ambientAirList">List Ambienty Air Qua..</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                            
                                <ul>
                                    <button class="wasteWaterBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Waste Water Sludge</button>
                                    <div class="wasteWaterDiv hidden text-blue-100 pl-6 space-y-2 ">
                                    <li><a class="wasteWatewrSludgeBtn" href="/wasteWaterSludge">Add Waste Water Slu.</a></li>
                                    <li><a class="wasteWaterSludgeListBtn" href="/wasteWaterSludgeList">List Waste Water Slu.</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="vehicEmBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Vehicular Emission</button>
                                    <div class="vehicEmDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="vehicularEmisFormBtn" href="/vehicularEmission">Add Vehicular Emission</a></li>
                                    <li><a class="vehicularemisListBtn" href="/vehicularEmissionList">List Vehicular Emission</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="luxBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Lux Analysis</button>
                                    <div class="luxDiv text-blue-100 hidden pl-6 space-y-2">
                                    <li><a class="luxAnalysisFormBtn" href="/luxAnalysis">Add Lux Analysis</a></li>
                                    <li><a class="luxAnalysisListBtn" href="/luxAnalysisList">List Lux Analysis</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="noiseBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Noise Analysis</button>
                                <div class="noiseDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="noiseAnalysisFormBtn" href="/noiseAnalysis">Add Noise Analysis</a></li>
                                    <li><a class="noiseAnalysisListBtn" href="/noiseAnalysisList">List Noise Analysis</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="ppbagBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Packing Poly Bag</button>
                                <div class="ppbagDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="packingPolyFormBtn" href="/packingPolyBag">Add Packing Poly Bag</a></li>
                                    <li><a class="packingPolyListBtn" href="/packingPolyBagList">List Packing Poly Bag</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <div class="">
                                    <button class="machineOilBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Machine Oil</button>
                                   <div class="machineOilDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="machineOilFormBtn" href="/machineOil">Add Machine Oil</a></li>
                                    <li><a class="machineOilListBtn" href="/machineOilList">List Machine Oil</a></li>
                                   </div>
                                </div>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="microBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Microbial Analysis</button>
                                    <div class="microDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="microbialFormBtn" href="/microbialAnalysis">Add Microbial Analysis</a></li>
                                    <li><a class="microbialListBtn" href="/microbialList">List Microbial Analysis</a></li>
                                    </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="viscBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Viscous Liquid</button>
                                <div class="viscDiv hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="viscousLiquidFormBtn" href="/viscousLiquid">Add Viscous Liquid</a></li>
                                    <li><a class="viscousLiquidListBtn" href="/viscousLiquidList">List Viscous Liquid</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="ambientAirBtn pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Ambient Air Quality 2</button>
                                <div class="ambientAirDiv hidden text-blue-100 pl-6 space-y-2" >
                                    <li><a class="ambientAir2FormBtn" href="/ambientAirQuality2">Add Ambient Air 2</a></li>
                                    <li><a class="ambientAir2ListBtn" href="/ambientAir2List">List Ambient Air 2</a></li>
                                </div>
                                </ul>
                                <hr class=" border-blue-200">
                                <ul>
                                    <button class="waterwastebtn2 pb-2"><i class="fa-solid fa-ellipsis-vertical p-2"></i>Waste Water2</button>
                                <div class="waterwastediv2 hidden text-blue-100 pl-6 space-y-2">
                                    <li><a class="wasteWater2FormBtn" href="/wasteWater2">Add Waste Water2</a></li>
                                    <li><a class="wasteWater2ListBtn" href="/wasteWater2List">List Waste Water2</a></li>
                                </div>
                                </ul>
                        </div>
                            
                        
                        </ul>
                        
                    
                    
                        

                
            
        </nav>

        {%block content%}
        {%if data%}
        <div class=" h-full w-10/12 flex flex-col items-center ">
                        

            <form action="{% url "ambientAir-editRecord" pk=data.id %}" method="post" enctype="multipart/form-data" class="flex flex-col justify-around w-11/12 mt-10 ">
                {% csrf_token %}
                <h1 class="text-center mt-10 text-3xl py-16">Ambient Air Quality</h1>
                <div class="alert w-10/12 flex flex-col justify-around my-6">
                    
                    <div class="">
                       
                        <p style="display: flex;">Filling Report For? <img id="loc_err" style="overflow: hidden;height: 50px;width:50px;margin-top:-12px;" src={% static '/assets/loader.gif'%}/></p>
                    </div>
                    <div class="">
                        <input class="SEQS-value" type="checkbox" value="SEQS">
                        <label for="">SEQS</label>
                    </div>
                    <div class="">
                        <input class="PEQS-value" type="checkbox" value="PEQS">
                        <label for="">PEQS</label>
                    </div>
                    <div class="">
                        <input class="NEQS-value" type="checkbox" value="NEQS">
                        <label for="">NEQS</label>
                    </div>

                </div>
                <input id="checkinput" type="text" name="location" value="" style="display: none;">
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Lab Report No</label>
                        <input id="date" class=" border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambient_Air_lab_report_no" type="text" value="{{data.ambienAir_lab_report_no1}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Invoice Bill No</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_invoice_no" type="text" value="{{data.ambienAir_invoice_bill_no}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Reporting Date</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_rep_date" type="date" value="{{data.ambientAir_reporting_date}}">
                    </div>
                </div>
                <hr class="broder border-black mt-10">
        
                <div class="flex justify-between mt-4">
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Report To :</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_rep_to" style="width: 35rem;" type="text" value="{{data.ambientAir_reporting_to}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Address</label>
                        <input class="border-2 border-black p-2 h-10 rounded text-lg" name="ambientAir_address" style="width: 35rem;" type="text" value="{{data.ambientAir_address}}">
                    </div>
                    
                    
                </div>
        
                <div class="flex justify-between mt-4">
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Attention</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_attention" style="width: 35rem;" type="text" value="{{data.ambientAir_attention}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Email</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_email" style="width: 35rem;" type="text" value="{{data.ambientAir_email}}">
                    </div>
                </div>
        
                <hr class="broder border-black mt-10">
        
                <div class="flex justify-between mt-4">
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Test ID</label>
                        <input class="date border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_testid" style="width: 24rem;" type="text" value="{{data.ambientAir_test_id}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Test Performed Date</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_test_perf_date" style="width: 24rem;" type="date" value="{{data.ambientAir_test_perf_date}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Test Type & Location</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_testtype_location" style="width: 24rem;" type="text" value="{{data.ambientAir_test_type_location}}">
                    </div>
                </div>
        
                <div class="flex justify-between mt-4">
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Test Performed By</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_test_perf_by" style="width: 38rem;" type="text" value="{{data.ambientAir_test_perf_by}}">
                    </div>
                    <div class="flex flex-col">
                        <label class="font-bold text-lg" for="">Test Description</label>
                        <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_test_desc" style="width: 38rem;" type="text" value="{{data.ambienAir_test_desc}}">
                    </div>
                    
                </div>
        
                
                <hr class="broder border-black mt-10">
        
        
        
                <div class="w-full flex flex-col justify-center">
                    <table id="" class=" water-form-table border-collapse border-2 border-gray-700 mt-10 " cellspacing="15">
                        <thead>
                            <tr>
                                <th>Sr.#</th>
                                <th>Parameter/Analytes Description</th>
                                <th>Unit</th>
                                <th>Test Result</th>
                                <th><select id="result_type" class="select h-8 text-center w-36 font-bold" name="select">        
                                    <option value="SEQS-">SEQS Limits</option>
                                    <option value="PEQS-">PEQS Limits</option>
                                    <option value="NEQS-">NEQS Limits</option>
                                    
                               </select></th>
                                
                                
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="text-center border h-16">
                                <td>01</td>
                                <td>Temperature</td>
                                <td>⁰C</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr1" type="text" value="{{data.ambientAir_sr1}}"></td>
                                <td class="">-</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>02</td>
                                <td>Humidity</td>
                                <td>%</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr2" type="text" value="{{data.ambientAir_sr2}}"></td>
                                <td class=""> - </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>03</td>
                                <td>Particular matter (PM 1.0)</td>
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr3" type="text" value="{{data.ambientAir_sr3}}"></td>
                                <td class=""> 500 </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>04</td>
                                <td>Particular matter (PM2.5)</td>
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr4" type="text" value="{{data.ambientAir_sr4}}"></td>
                                <td class="SEQS"> 75 </td>
                                <td class="PEQS"> 35 </td>
                                <td class="NEQS"> 35 </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>05</td>
                                <td>Particular matter (PM 10)</td>
                                
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr5" type="text" value="{{data.ambientAir_sr5}}"></td>
                                <td class="">150</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>06</td>
                                <td>Carbon Monoxide (CO)</td>
                                
                                <td>mg/Nm3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr6" type="text" value="{{data.ambientAir_sr6}}"></td>
                                <td class=""> 10 </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>07</td>
                                <td>Sulphur Dioxide (SO2)</td>
                                
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr7" type="text" value="{{data.ambientAir_sr7}}"></td>
                                <td class="">120</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>08</td>
                                <td>Nitrogen Dioxide (NO2)</td>
                                
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr8" type="text" value="{{data.ambientAir_sr8}}"></td>
                                <td class=""> 80 </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>09</td>
                                <td>Nitrogen Oxide (NO)</td>
                                
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr9" type="text" value="{{data.ambientAir_sr9}}"></td>
                                <td class=""> 40 </td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>10</td>
                                <td>Oxygen (O2)</td>
                                
                                <td>%</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr10" type="text" value="{{data.ambientAir_sr10}}"></td>
                                <td class=""> 21</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>11</td>
                                <td>Formaldehyde</td>
                                
                                <td>mg/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr11" type="text" value="{{data.ambientAir_sr11}}"></td>
                                <td class=""> -</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>12</td>
                                <td>Total Volatile Organic Compounds (TVOC)</td>
                                
                                <td>mg/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr12" type="text" value="{{data.ambientAir_sr12}}"></td>
                                <td class="">-</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>13</td>
                                <td>Ozone (O3)</td>
                                
                                <td>ug/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr13" type="text" value="{{data.ambientAir_sr13}}"></td>
                                <td class=""> 130</td>
                                
                            </tr>
                            <tr class="text-center border h-16">
                                <td>14</td>
                                <td>Lead (Pb)</td>
                                
                                <td>µg/m3</td>
                                <td><input class="border-2 border-black w-72" name="ambientAir_sr14" type="text" value="{{data.ambientAir_sr14}}"></td>
                                <td class=""> 1.5</td>
                                
                            </tr>
                            
                            
        
                        </tbody>
                    </table>
        
                    <hr class="broder border-black mt-10">
        
                    
        
                        <h2 class="py-2 font-bold">LEGENDS</h2>
                    
                        <div class="legends w-full flex flex-col space-y-10 border-2 border-gray-200 p-8 mt-10">
                            <input class="legend-1 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-1"
                                maxlength="150"
                                value="{{data.ambientAir_legend_1}}">
                            <input class="legend-2 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-2"
                                maxlength="150"
                                value="{{data.ambientAir_legend_2}}">
                            <input class="legend-3 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-3"
                                maxlength="150" value="{{data.ambientAir_legend_3}}">
                            <input class="legend-4 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-4"
                                maxlength="150" value="{{data.ambientAir_legend_4}}">
                            <input class="legend-5 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-5"
                                maxlength="150"
                                value="{{data.ambientAir_legend_5}}">
                            <input class="legend-6 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-6"
                                maxlength="150"
                                value="{{data.ambientAir_legend_6}}">
                            <input class="legend-7 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-7"
                                maxlength="150" value="{{data.ambientAir_legend_7}}">
                            <input class="legend-8 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-8"
                                maxlength="150" value="{{data.ambientAir_legend_8}}">
                            <input class="legend-9 h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-9"
                                maxlength="150" value="{{data.ambientAir_legend_9}}">
                            <input class="legend-10 h-12 px-2 py-3 border-2 border-black w-full" type="text "
                                name="ambientAir-legend-10" maxlength="150" value="{{data.ambientAir_legend_10}}">
                            <input class="legend-11 h-12 px-2 py-3 border-2 border-black w-full" type="text "
                                name="ambientAir-legend-11" maxlength="150" value="{{data.ambientAir_legend_11}}">
                        </div>
                    
                        
                        {% comment %} <div class="legends w-full flex flex-col space-y-10 border-2 border-gray-200 p-8 mt-10">
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-1" required value="Test Result = M">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-2" required value="*APHA Standard Methods for Examination of water & wastewater 23rd Edition (2017).">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-3" required value="SEQS Limits = Sindh Environmental Quality Standard (Reference: SEQS 2016).">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-4" required value="PEQS Limits = Punjab Environmental Quality Standard">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-5" required value="NEQS Limits = National Environmental Quality Standard">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-6" required value="1=SEQS for Municipal & Liquid Industrial Effluent into inland waters.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-7" required value="2= SEQS for Municipal & Liquid Industrial Effluent into Sewage Treatment.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-8" required value="3=SEQS for Municipal & Liquid Industrial Effluent into Sea.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-9" required value="** Discharge Concentration at or below Sea Concentration (SC).">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-10" required value="M = Meet SEQS-2016 requirements.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-11" required value="F = Below SEQS-2016 requirements.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-12" required value="N.D. = Not Detected.">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-13" required value="N.A = Not Available">    
                            <input class="h-12 px-2 py-3 border-2 border-black w-full" type="text " name="ambientAir-legend-14" required value="Customer Requirement: N.A">    
                        </div> {% endcomment %}

                            <div class="flex flex-col justify-between mt-6">
                                <div class="flex flex-col">
                                    <label class="font-bold text-lg" for="">Edit Note</label>
                                    <input class="border-2 border-black p-2 h-10 rounded text-sm" name="ambientAir_editNote" style="width: 79rem;" type="text" value="{{data.ambientAir_edit_note}}" >
                                </div>
                                <div class="flex flex-col mt-4">
                                    <label class="font-bold text-lg" for="">Custom Legend (if any):</label>
                                    <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_customlegend" style="width: 35rem;" type="text" value="{{data.ambientAir_custom_legend}}">
                                </div>
                                
                            </div>
        
                            <div class="flex justify-between mt-6">
                                <div class="flex flex-col">
                                    <label class="font-bold text-lg" for=""> Doc. Controller 1:</label>
                                    <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" name="ambientAir_doc1" type="text" value="{{data.ambientAir_doc_con_1}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="font-bold text-lg" for="">Doc. Controller 2:</label>
                                    <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" type="text" name="ambientAir_doc2" value="{{data.ambientAir_doc_con_2}}">
                                </div>
                                <div class="flex flex-col">
                                    <label class="font-bold text-lg" for="">Doc. Controller 3:</label>
                                    <input class="border-2 border-black p-2 h-10 w-96 rounded text-lg" type="text" name="ambientAir_doc3" value="{{data.ambientAir_doc_con_3}}">
                                </div>
                            </div>

                            <hr class="broder border-black mt-10">
                                        
                                        {% comment %} <div class="flex justify-between mt-6">
                                            <div class="flex flex-col">
                                                <label class="font-bold text-lg" for=""> Analyzed By (Analyst):</label>
                                                <input class=" pt-4  text-lg" required type="file" accept="image/*" name="ambientAir_analyzedby" value="">
                                            </div>
                                            <div class="flex flex-col">
                                                <label class="font-bold text-lg" for="">Reviewed By (Assistant Manager):</label>
                                                <input class=" pt-4  text-lg" required type="file" accept="image/*" name="ambientAir_reviewedby" value="">
                                            </div>
                                            <div class="flex flex-col">
                                                <label class="font-bold text-lg" for="">Approved By (Lab Manager):</label>
                                                <input class=" pt-4  text-lg" required type="file" accept="image/*" name="ambientAir_approvedby"  value="">
                                            </div>
                                        </div> {% endcomment %}

                                        <div class="flex justify-between mt-6 text-sm">
                                            <div class="flex flex-col space-y-4 border p-2  border-black">
                                                <label class="font-bold text-lg" for=""> Analyzed By (Analyst):</label>
                                                <input class="analyzedBy_btn" required class="  pt-4  text-lg" type="file" accept="image/*"
                                                    name="ambientAir_analyzedby" value="">
                                            </div>
                                            <div class="flex flex-col space-y-4 border p-2 border-black">
                                                <label class="font-bold text-lg" for="">Reviewed By (Assistant Manager):</label>
                    
                                                <input class="reviewedBy_btn" required class=" pt-4  text-lg" type="file" accept="image/*"
                                                    name="ambientAir_reviewedby" value="">
                    
                                            </div>
                                            <div class="flex flex-col space-y-4 border p-2 border-black">
                                                <label class="font-bold text-lg text-center" for="">Approved By (Lab Manager):</label>
                    
                                                <div class="flex text-sm">
                                                    <input class="approvedby_btn" required class=" pt-4  text-lg" type="file"
                                                        accept="image/*" name="ambientAir_approvedby" value="">
                    
                                                    <input class="approvedby_btn" required class=" pt-4  text-lg" type="file"
                                                        accept="image/*" name="ambientAir_approvedby1" value="">
                    
                                                </div>
                                            </div>
                    
                                        </div>
        
                            {% comment %} <div class="h-32  mt-8 flex justify-center items-center">
                               <div class="space-x-8">
                                <button class="bg-blue-600 h-12 w-60 rounded shadow-2xl text-white hover:bg-blue-500 "><i class="fa-solid fa-download pr-4  "></i>Save & Add New</button>
                                <button class="h-12 bg-green-500 rounded  shadow-2xl w-60 hover:bg-green-400 text-white"><i class="fa-solid fa-file pr-4"></i>Save & View Report</button>
                               </div>
                            </div> {% endcomment %}
                            <div class="h-32  mt-8 flex justify-center items-center">
                                <div class=" space-x-8">
                                    <i class="fa-solid fa-download pr-4" style="color: #fff;transform: translateX(97px);"></i><input type="submit" name="submit"
                                        class=" bg-blue-600 h-12 w-60 rounded shadow-2xl cursor-pointer text-white hover:bg-blue-500 "
                                        value='Update'/>
                                    <i class="fa-solid fa-file pr-4" style="    color: #fff;
                                        transform: translateX(90px);"> </i> <input type="submit" name="update_and_view"
                                        value="Update & View Report"
                                        class="bg-green-600 h-12 w-60 rounded shadow-2xl cursor-pointer text-white hover:bg-green-500" />
                                </div>
                            </div>
        
                     
                    </div>
        
                    
        
            </form>
            <section class="bg-gray-900 h-20 flex justify-center items-center w-full ">
                      <div class="">
                            <p class="text-lg text-gray-300">© Copyright 2023 EnviTechAl. All Rights Reserved.</p>
                            <p></p>
                      </div>
                    </section>
            
        </div>
        {% endif %}
        {%endblock%}
</section>

<script>
    var now = new Date()
        var date = now.getDate() 
        var month = now.getMonth() + 1
        var year = now.getFullYear()
        var currentDate = `${year}${month}${date}`        
        document.querySelector("#date").value = currentDate
        document.querySelector(".date").value = currentDate
        
    
</script>

<script src={% static '/js/app.js'%} defer >
    
    
</script>
<script>
    var seqs_value = document.querySelector(".SEQS-value")
    var peqs_value = document.querySelector(".PEQS-value")
    var neqs_value = document.querySelector(".NEQS-value")
    var leg_1 = document.querySelector(".legend-1")
    var leg_2 = document.querySelector(".legend-2")
    var leg_3 = document.querySelector(".legend-3")
    var leg_4 = document.querySelector(".legend-4")
    var leg_5 = document.querySelector(".legend-5")
    var leg_6 = document.querySelector(".legend-6")
    var leg_7 = document.querySelector(".legend-7")
    var leg_8 = document.querySelector(".legend-8")
    var leg_9 = document.querySelector(".legend-9")
    var leg_10 = document.querySelector(".legend-10")
    var leg_11 = document.querySelector(".legend-11")
    var checkinput = document.querySelector("#checkinput")
    
    
    
    seqs_value.addEventListener("change",()=>{
        if(seqs_value.checked){
            checkinput.value = "SEQS"
            peqs_value.disabled=true
            neqs_value.disabled=true
            leg_3.value=""
            leg_4.value=""
            leg_3.style.display="none"
            leg_4.style.display="none"
    
        }else {
            checkinput.value = ""
            peqs_value.disabled=false
            neqs_value.disabled=false
            leg_3.style.display="none"
            leg_4.style.display="none"
        }
        
    
    })
    peqs_value.addEventListener("change",()=>{
        
        if(peqs_value.checked){
            checkinput.value = "PEQS"
            seqs_value.disabled=true
            neqs_value.disabled=true
            leg_2.value = ""
            leg_4.value = ""
            leg_3.style.display = "block"
            leg_3.value = "PEQS Limits = Punjab Environmental Quality Standard"
            leg_2.style.display="none"
            leg_4.style.display="none"
            leg_5.value = "1=PEQS for Municipal & Liquid Industrial Effluent into inland waters."
            leg_6.value = "2= PEQS for Municipal & Liquid Industrial Effluent into Sewage Treatment."
            leg_7.value = ""
            leg_8.value = ""
            leg_7.style.display = "none"
            leg_8.style.display = "none"
    
        }else{
            checkinput.value = ""
            neqs_value.disabled=false
            seqs_value.disabled=false
            leg_2.style.display="block"
            leg_4.style.display="block"
            leg_2.value="SEQS Limits = Sindh Environmental Quality Standard (Reference: SEQS 2016)."
            leg_4.value="NEQS Limits = National Environmental Quality Standard"
            leg_5.value = "1=SEQS for Municipal & Liquid Industrial Effluent into inland waters."
            leg_6.value = "2= SEQS for Municipal & Liquid Industrial Effluent into Sewage Treatment."
            leg_7.value = "3=SEQS for Municipal & Liquid Industrial Effluent into Sea."
           
        }
    })
    neqs_value.addEventListener("change",()=>{
        if(neqs_value.checked){
            checkinput.value = "NEQS"
            seqs_value.disabled=true
            peqs_value.disabled=true
            leg_2.value=""
            leg_3.value=""
            leg_2.style.display="none"
            leg_3.style.display="none"
            leg_5.value = "1=NEQS for Municipal & Liquid Industrial Effluent into inland waters."
            leg_6.value = "2= NEQS for Municipal & Liquid Industrial Effluent into Sewage Treatment."
            leg_7.value = ""
            leg_8.value = ""
            leg_7.style.display = "none"
            leg_8.style.display = "none"
    
        }else{
            checkinput.value = ""
            peqs_value.disabled=false
            seqs_value.disabled=false
            leg_2.style.display="block"
            leg_3.style.display="block"
            leg_2.value="SEQS Limits = Sindh Environmental Quality Standard (Reference: SEQS 2016)."
            leg_3.value="PEQS Limits = Punjab Environmental Quality Standard"
            leg_5.value = "1=SEQS for Municipal & Liquid Industrial Effluent into inland waters."
            leg_6.value = "2= SEQS for Municipal & Liquid Industrial Effluent into Sewage Treatment."
            leg_7.value = "3=SEQS for Municipal & Liquid Industrial Effluent into Sea."
            
           
        }
    })
    
    
            $(document).ready(async () => {
                $("#loc_err").show()
                const req_pip = await fetch('https://api.ipify.org?format=json');
                var public_ip = await req_pip.json();
                public_ip = public_ip.ip ? public_ip.ip : null;
                if (public_ip) {
                    let url = `https://ipinfo.io/${public_ip}/json?token=fdc5faa922a0b1`
                    const req_loc_ip = await fetch(url);
                    var location = await req_loc_ip.json();
                    console.log(location)
                    if (location) {
                        let region = location.region.toLowerCase();
                        switch (region) {
                            case "sindh": $("input[value='SEQS']").trigger("click"); break;
                            case "punjab": $("input[value='PEQS']").trigger("click"); break;
                            case "kpk": $("input[value='NEQS']").trigger("click"); break;
                        }
                        setTimeout(function(){
                            $("#loc_err").hide()
                        },1000)
                      
                    }
                }
            })
        </script>
</body>
</html>